.geo-regular {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    
}

.geo-regular-italic {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: italic;
}

.nerko-one-regular {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
}

.alert {
    position: fixed;
    display: flex;
    bottom: 0;
    right: 2vh;
}   

.tituloTabla {
    font-family: "Geo", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.navadmin {
    background-color: #008f6f;
}

.button {
    background-color: transparent;
    border: transparent;
    width: 100%;
    --bs-btn-active-bg: #00775d;
}

.button:hover {
    background-color: #00775d;
}

.img {
    border-radius: 20%;
    width: 50px;
    border-color: aliceblue;
    margin: 5% auto 5% auto;
    background-color: aliceblue;
}

.content {
    flex-grow: 1;
}

.scroll {
    overflow: auto;
    max-height: 300px;
}

.thead {
    background-color: #386fc9 !important;
}

.tabla-usuarios tbody td Button {
    top: 9px;
    position: relative;
}

.editar {
    background-color: #2f2c79;
    border: transparent;
    width: 100%;
    --bs-btn-active-bg: #171a4a;
}

.editar:hover {
    background-color: #171a4a;
}

/* admin publi */
.imgTabla {
    width: 30px;
    border-radius: 5px;
}

.aprove {
    position: fixed;
    bottom: 20px;
    right: 20px;
    margin: 0;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    z-index: 1000;
    font-family: Arial, sans-serif;
}

.popupImg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.imgdesplegada {
    max-height: 80vh;
}

.fondoimg {
    position: relative;
    background: #fff;
    .close-btn {
        background: none;
        border: none;
        color: #000000;
        font-size: 25px;
        font-weight: bold;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
        padding: 1rem 1rem ;
    }

    .close-btn:hover {
        transform: scale(1.3);
        transition: 0.2s;
        background: none;
        color: #000000;
    }
}

.btnpopup {
    transition: transform 0.3s ease, opacity 0.3s ease;
    background-color: transparent;
    border: none;
    --bs-btn-active-bg: none;
}

.btnpopup:hover {
    background-color: transparent;
    border: none;
    transform: scale(5.1);
    transition: transform 0.4s ease, font-size 0.3s ease;
}

/* admin publi */