.imagen{
    width: 100%;  /* Ajusta el ancho como desees */
    height: 100%; /* Ajusta la altura como desees */
    object-fit: cover; /* Mantiene la proporción y recorta la imagen si es necesario */
}


.contenedor {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center;     /* Centra verticalmente */
    height: 100vh;          /* Ajusta la altura según sea necesario */
}

/* Estilos Login */
.centrar {
    display: flex;
    justify-content: center;
}

.cont-login {
    justify-content: center;
    background-color: rgba(240, 255, 255, 0.836);
    margin-top: 50px;
    padding: 20px;
    width: 60%;
    height: 400px;

    .card-title{
        font-weight: bold;
        margin-bottom: 20px;
        display: grid;
        justify-content: center;
    }
}

.control {
    width: 100% !important;
}

.boton {
    background-color: rgb(99, 99, 94);
    border: 0;
    --bs-btn-hover-bg: #228b22;
    border-radius: 1cap;
    box-shadow: 20%;
}

.FcGoogle{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Estilos Login */

/* Estilos Resgister */
.reg {
    display: contents;
}
/* Estilos Resgister */

.footer-custom {
    background-color: #41B59A; 

  }

/* Estilos BajadaNavBar */
.bajadanav {
    align-content: center;
}

.max {
    max-width: max-content;
}

/* Estilos BajadaNavBar */
