.navbar-reci{
    background-color: #006400;
    justify-content: space-around !important;
    padding-top: 0;
    padding-bottom: 0;
    .navbar-collapse{
        .imgbr {
            transition: transform 0.3s ease, opacity 0.3s ease;
            width: 55px;
        }
    }
}

.navbar-reci .navbar-brand,
.navbar-reci .nav-link{
    color: white;
}

.navbar-reci .nav-link:hover{
    color: #a9dfbf;
}

.imagen{
    width: 100;  /* Ajusta el ancho como desees */
    height: 100; /* Ajusta la altura como desees */
    object-fit: cover; /* Mantiene la proporción y recorta la imagen si es necesario */
}

.logoreci {
    border-radius: 50%;
    width: 80px;
    height: 80px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.45);
}

.titulo {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}



.imgbr:hover {
    transform:  scale(1.1);
    opacity: 0.9;
}

.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
  }

.dynapuff {
  font-family: "DynaPuff", system-ui;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

