.navbar-reci{
    background-color: #41B59A;
}

.navbar-reci .navbar-brand,
.navbar-reci .nav-link{
    color: white;
}

.navbar-reci .nav-link:hover{
    color: #a9dfbf;
}

.imagen{
    width: 100;  /* Ajusta el ancho como desees */
    height: 100; /* Ajusta la altura como desees */
    object-fit: cover; /* Mantiene la proporción y recorta la imagen si es necesario */
}

.logoreci {
    border-radius: 20%;
}

.titulo {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.imgbr {
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.imgbr:hover {
    transform:  scale(1.1);
    opacity: 0.9;
}


