.button {
    border: transparent;
    width: 100%;
    --bs-btn-active-bg: #7da87d;
}

.button.active {
    background-color: #7da87d;
    color: white;
    border: none;
}

.button:not(.active):hover {
    background-color: #e9ecef;
    color: black;
}

.navuser {
    background-color: #00775d !important;
    color: black;
    border-radius: 5px 5px 0 0;

    .nav-link.active {
        background-color: #009d71;
        color: black
    }

    .nav-link:hover {
        color: black;
    }

    .nav-link {
        color: white;
    }
}

.div-perfil {
    background-color: #6aa5b1;
    padding: 5px;
    border-radius: 5px;
}