.post {
    width: 100%;    
}

.lista-post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #d0fdd7;
    min-width: 50%;
}

.button-like {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    padding: 5px;
    --bs-btn-active-bg: none;
}

.button-like:hover {
    background: none;
    color: inherit;
    transform:  scale(1.1);
}

.material-icons.liked {
    color: red; /* Cambia el color a rojo */
  }

.boton-delete {
    display: flex;
    justify-content: center;
    color: black;
    background: none;
    border: none;
    padding: 5px;
    --bs-btn-active-bg: none;
}

.boton-delete:hover {
    background: none;
    color: inherit;
    transform:  scale(1.1);
}


.like-comment {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.form {
    display: flex;
    align-items: center;
    
}

.img-publi {
    height: 300px;
    width: auto;
    border-radius: 2vh;
    object-fit: contain;
}

.likescount {
    font-weight: 500;
}

.span{
    font-size: small;
}

/* nuevaPubli */
.boton-fijo {
    position: absolute;
    top: 20px;    /* Ajusta el valor según la separación deseada desde la parte superior */
    left: 20px;   /* Ajusta el valor según la separación deseada desde la izquierda */
    z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
}

.comments-section {
    display: flex;
    justify-content: space-between;
}

.user {
    font-weight: bold;
}

/*
.button {

}

.button:hover {

}
*/