.post {
    width: 100%;    
}

.lista-post {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #d0fdd7;
    min-width: 50%;
}

.button-like {
    display: flex;
    justify-content: center;
    background: none;
    border: none;
    padding: 5px;
}

.button-like:hover {
    background: none;
    color: inherit;
    transform:  scale(1.1);
    
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 300,
  'GRAD' 0,
  'opsz' 40;
  transition: color 0.3s, font-variation-settings 0.3s; 
}

.material-symbols-outlined:hover {
    color: red;
    font-variation-settings:
    'FILL' 1,
    'wght' 300,
    'GRAD' 0,
    'opsz' 40;
}

.like-comment {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
}

.form {
    display: flex;
    align-items: center;
    
}

.img-publi {
    height: 300px;
    width: auto;
    border-radius: 2vh;
    object-fit: contain;
}

.likescount {
    font-weight: 500;
}

.span{
    font-size: small;
}

/* nuevaPubli */
.boton-fijo {
    position: absolute;
    top: 20px;    /* Ajusta el valor según la separación deseada desde la parte superior */
    left: 20px;   /* Ajusta el valor según la separación deseada desde la izquierda */
    z-index: 1000; /* Asegura que el botón esté sobre otros elementos */
}
/*
.button {

}

.button:hover {

}
*/